<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rahman Portfolio</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>

<body>

    <header>

        <h1>Mohammed Abdul Rahman</h1>

        <p>Aspiring Full Stack Developer</p>

    </header>

    <section>

        <h2>About Me</h2>

        <p>
            I am learning full-stack development, Django, SQL, and DSA.
        </p>

    </section>

    <section>

        <h2>Skills</h2>

        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>SQL</li>
            <li>JavaScript</li>
        </ul>

    </section>

</body>

</html>